@font-face {
 font-family: 'PT Sans';
 src:  url('../fonts/ptsansbold.woff2') format('woff2'),
       url('../fonts/ptsansbold.woff') format('woff');
 font-weight: 700;
 font-style: normal;
}

@font-face {
 font-family: 'PT Sans';
 src: url('../fonts/ptsans.woff2') format('woff2'),
      url('../fonts/ptsans.woff') format('woff');
 font-weight: 400;
 font-style: normal;
}

body {
 margin: 0;

 font-family: "PT Sans", Arial, sans-serif;
 font-size: 14px;
 line-height: 21px;
 font-weight: 400;
 color: #333333;
 text-transform: uppercase;

 background-color: #f2f2f2;
}

.container {
 max-width: 1200px;
 min-width: 768px;
 margin: 0 auto;

 background-color: #ffffff;
 -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.2);
 box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* Стили для всех ссылок*/
a {
 text-decoration: none;
 outline: 0;
}

/* Стили для скрытых заголовков*/
.visually-hidden {
 position: absolute;
 overflow: hidden;
 clip: rect(0 0 0 0);
 height: 1px;
 width: 1px;
 margin: -1px;
 padding: 0;
 border: 0;
}

/* Стили для меню*/
.main-header {
 width: 100%;

}
.main-navigation {
 min-height: 56px;

 font-size: 14px;
 line-height: 26px;
 font-weight: 700;

 color: #000000;
 background-color: #ffffff;

 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;

 -webkit-box-pack: center;
 -ms-flex-pack: center;
 justify-content: center;

 -ms-flex-line-pack: center;
 align-content: center;
 width: 100%;
}

.main-header-logo {
 position: absolute;
 left: 50%;
 top: 0;
 -webkit-transform: translate(-50%);
 -ms-transform: translateX(-50%);
 transform: translateX(-50%);
}

.site-navigation {
 list-style: none;
 margin: 0;
 padding:0;
 width: 100%;
 min-height: 56px;

 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;

 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;

 -webkit-box-pack:center;
 -ms-flex-pack:center;
 justify-content:center;
}

.site-navigation li {
 width: 20%;
 text-align: left;
}

.site-navigation li:nth-child(2) {
 margin-right:8% ;
}

.site-navigation li:nth-child(3),
.site-navigation li:last-child {
 text-align: right;
}

.site-navigation a {
 color: #000000;
}

/* Стили для состояния пунков меню*/
.site-navigation a:hover,
.site-navigation a:focus {
 color: #81b3d2;
}

.site-navigation a:active {
 color: rgba(0, 0, 0,.3);
}

.site-navigation-current a {
 color: #766357;
}

/* Стили для гор */
.promo {
 background-image:
             url("../img/welcome-sedona.png"),
             url("../img/background-border.png"),
             url("../img/background-intro.jpg");
 background-color: #f2f2f2;
 background-repeat: no-repeat;
 background-position: center center, bottom center, center 28%;
 min-height: 508px;
 max-height: 512px;
 background-size: auto, 100%, 100%;
}

/* стили для блока с причинами посетить*/

.lead-title {
 display: block;

 padding: 48px 20px 51px;
 width: 575px;
 margin: 0 auto;

 text-align: center;
 background-color:#ffffff;
}

.lead-title h2 {
 font-size: 21px;
 line-height: 26px;
 font-weight: 700;

 margin: 0;
 padding: 12px 14px 28px;
}

.lead-title p {
 margin: 0;
 padding: 2px 14px;
}


/* стили для блока под номером 1 и 2*/

.about-item-first,
.about-item-second {
 min-height: 256px;

 background-color: #81b3d2;
 color: #ffffff;
 text-align: center;

 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;

 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;

 -ms-flex-line-pack: center;
 align-content: center;

 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
 -ms-flex-direction: row;
 flex-direction: row;
 }

.about-item-photo01,
.about-item-photo02 {
 width: 67%;
 min-height:inherit;
}

.about-item-photo01 {
 background-image: url("../img/city-photo-01.jpg");
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
}

.about-item-photo02 {
 background-image: url("../img/city-photo-02.jpg");
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;

}
.about-text {
 min-height: 256px;
 width: 33.4%;
 -webkit-box-sizing: border-box;
         box-sizing: border-box;
 padding-left: 48px;
 padding-right: 48px;
 padding-top: 46px;
 margin: 0 auto;

}

.about-item-first .about-text{
 -webkit-box-ordinal-group: 0;
 -ms-flex-order: -1;
  order: -1;
}

/*Стили для заголовков h3 и абзацев p и номеров*/
.about-item-first h3,
.about-item-second h3,
.about-next h3  {
 padding-bottom: 25px;
 max-width: 160px;
 margin: 0 auto;

 font-size: 21px;
 line-height: 21px;
 font-weight: 700;
}

.about-text p,
.features p,
.about-next p {
 margin: 0;
 padding-top: 21px;
}

/*Стилизация блока с Преимуществами (fetaures)*/

.features {
 background-color:#ffffff;
}

.features ul {
 margin: 0;
 padding: 0;

 text-align: center;

 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;

 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;

 -ms-flex-line-pack: center;
 align-content: center;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;

 -ms-flex-direction: row;
 flex-direction: row;
}

.features li {
 list-style: none;

 background-repeat: no-repeat;
 background-size: auto;
 background-position: center 57px;

 -webkit-box-sizing: border-box;
 box-sizing: border-box;

 width: 33.4%;
 min-height: 330px;
 padding-left: 48px;
 padding-right: 48px;
 padding-top: 46px;
 padding-bottom: 46px;
}

.features h3 {
 font-size: 21px;
 line-height: 21px;
 font-weight: 700;
 margin-top: 113px;
 margin-bottom: 3px;
}

.features li:first-child {
 background-image: url("../img/icon-1.svg");
}

.features li:nth-child(2) {
 background-image: url("../img/icon-2.svg");
}

.features li:last-child {
 background-image: url("../img/icon-3.svg");
}


/*Продолжение нумерованных пунктов (about-next)*/

.about-next {
 background-color: #eeeeee;
 text-align: center;
}

.about-next ul {
 list-style: none;

 min-height: 256px;
 margin: 0;
 padding: 0;

 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;

 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;

 -ms-flex-line-pack: center;
 align-content: center;
}

.about-next li {
 -webkit-box-sizing: border-box;
         box-sizing: border-box;

 min-height: 256px;
 width: 33.4%;
 margin: 0 auto;
 padding-left: 61px;
 padding-right: 61px;
 padding-top: 46px;
 padding-bottom: 46px;

 word-wrap: break-word;
}

/* секция поиска гостиницы в седоне */
/* Раздел поиска отеля search-title (class="search-block")*/

.search-title {
 background-color: #ffffff;
 text-align: center;
}

.search-block {
 min-height: 290px;
 padding-left: 100px;
 padding-right: 100px;

}

.search-block h2 {
 margin: 0 auto;
 padding-top: 50px;

 font-size: 30px;
 line-height: 36px;
}

.search-block p {
 margin: 0;
 padding-top: 23px;
 padding-bottom: 48px;

 line-height: 24px;
}

.search-hotel-btn {
 color: #ffffff;
 background-color: #766357;

 text-align: center;
 font-family: "PT Sans", Arial, sans-serif;
 font-size: 21px;
 font-weight: 700;
 line-height: 26px;
 text-transform: uppercase;

 min-height: 86px;
 width: 568px;
 margin: 0 auto;
 padding: 30px 30px;

 cursor: pointer;
 border: none;
 outline: 0;
}

.search-hotel-btn:hover,
.search-hotel-btn:focus {
 background-color: #604e43;
}

.search-hotel-btn:active {
 background-color: #503e33;
 color: rgba(255,255,255,.3)
}

/* pop-up */

.search-wrapper {
 position: absolute;
 -webkit-box-sizing: border-box;
         box-sizing: border-box;
 width: 568px;
 min-height: 395px;
 font-weight: 700;
 margin-left: -284px;
 padding-left: 55px;
 padding-right: 55px;
 padding-top: 55px;
 padding-bottom: 55px;

 left: 50%;

 font-size: 14px;
 line-height: 26px;

 background-color: #ffffff;
 -webkit-box-shadow: 0 7px 15px rgba(0,0,0,0.15);
 box-shadow: 0 7px 15px rgba(0,0,0,0.15);
}

/* анимация pop-up */
.search-wrapper-on {
 -webkit-animation: show_on 0.6s;
 animation: show_on 0.6s;
 -webkit-animation-timing-function:ease-out;
 animation-timing-function:ease-out;
}

.search-wrapper-off {
 -webkit-animation: show_off 0.6s;
 animation: show_off 0.6s;
 -webkit-animation-timing-function:ease-out;
 animation-timing-function:ease-out;
}

.search-wrapper-off-dis {
 display: none;
}

.search-wrapper-error {
 animation: shake 0.6s;
}

@-webkit-keyframes show_on {
 0% {
 -webkit-transform: translateY(-89px);
 transform: translateY(-89px);
 opacity: 0;
}

 100% {
   -webkit-transform: translateY(0);
   transform: translateY(0);
   opacity: 1;
 }
}

@-webkit-keyframes show_on {
 0% {
   -webkit-transform: translateY(-89px);
   transform: translateY(-89px);
   opacity: 0;
 }

 100% {
   -webkit-transform: translateY(0);
   transform: translateY(0);
   opacity: 1;
 }
}
@keyframes show_on {
 0% {
   -webkit-transform: translateY(-89px);
   transform: translateY(-89px);
   opacity: 0;
 }

 100% {
   -webkit-transform: translateY(0);
   transform: translateY(0);
   opacity: 1;
 }
}

@-webkit-keyframes show_off {
 0% {
   -webkit-transform: translateY(0);
   transform: translateY(0);
   opacity: 1;
 }

 100% {
   -webkit-transform: translateY(-89px);
           transform: translateY(-89px);
   opacity: 0;
 }
}

@keyframes show_off {
 0% {
   -webkit-transform: translateY(0);
   transform: translateY(0);
   opacity: 1;
 }

 100% {
   -webkit-transform: translateY(-89px);
   transform: translateY(-89px);
   opacity: 0;
 }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
/* конец анимация pop-up */

.search-form {
 height: 285px;

 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;

 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
 -ms-flex-direction: column;
 flex-direction: column;

 -webkit-box-pack: justify;
 -ms-flex-pack: justify;
 justify-content: space-between;

}

.search-form input {
 font-family: inherit;
 font-size: 14px;
 font-weight: 700;
 line-height: 26px;
 text-transform: uppercase;

 border: none;
 background-color: #f2f2f2;
 color: #000000;
}

.search-item {
 width: 100%;
 min-height: 38px;
 display:block;
}

.calendar {
 background-color: transparent;
 position: absolute;
 border: 0;
 right: 63px;
 padding-top: 37px;
 width: 22px;
 cursor: pointer;
 min-height: 22px;
 background-image: url("../img/calendar.svg");
 opacity: 0.2;
 background-repeat: no-repeat;
 background-position: center;
 outline: 0;
}

.calendar:focus,
.calendar:hover {
 opacity: 1;
}

.calendar:active {
 background-image: url("../img/calendar-active.svg");
}

.search-item-box-first {
 width: 50%;
 min-height: 38px;

 float: left;

 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;

 -webkit-box-pack: start;
 -ms-flex-pack: start;
 justify-content: flex-start;
}

.search-item-box-first label {
 margin-right: 40px;
}

.search-item-box-second label {
 margin-right: 27px;
}

.search-item-box-second {
 min-height: 38px;
 width: 50%;

 float: right;

 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;

 -webkit-box-pack: end;
 -ms-flex-pack: end;
 justify-content: flex-end;
}

.form-date {
 width: 294px;
 padding: 7px 40px 5px 13px;
 height: 26px;
 float:right;
}

.search-wrapper label {
 padding-top:6px;
 float: left;
}

.search-item-box-first input,
.search-item-box-second input {
 width: 38px;
 height: 38px;
 margin: 0;
 padding: 0;
 text-align: center;
 border: none;
 outline: 0;
}

.search-item-box-first button,
.search-item-box-second button {
 width: 38px;
 min-height: 38px;

 font-size: 21px;
 font-weight: 700;

 background-color: #f2f2f2;
 border: none;
 cursor: pointer;
 outline: 0;
}

.button-plus,
.button-minus {
 color: #a9a9a9;
}

.button-plus:hover,
.button-plus:focus,
.button-minus:hover,
.button-minus:focus {
 color: #000000;
}

.button-plus:active,
.button-minus:active {
 color: #81b3d2;
}

.form-date:hover {
 background-color:#ebebeb;
}

.form-date:focus {
 background-color:#ffffff;
 outline: 2px solid #e5e5e5;
}


.button-search {
 width: 460px;
 min-height: 59px;
 margin-top: 25px;

 text-align: center;
 font-size: 21px;
 font-weight: 700;
 line-height: 26px;
 text-transform: uppercase;
 color:#ffffff;

 background-color: #81b3d2;
 border: none;
 outline: 0;
 cursor: pointer;
}

.button-search:hover,
.button-search:focus {
 background-color: #669ec0;
}

.button-search:active {
 color: rgba(255,255,255,.3);
 background-color: #5496bd;
}

/* карта */

.map {
 width: 100%;
 min-height: 593px;
 margin: 0;
 padding: 0;

 background-image: url("../img/map.jpg");
 background-repeat: no-repeat;
 background-position: center;
}

.map iframe {
 width: 100%;
 border: none;
}

/* Подвал */

.main-footer {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;

 position: relative;

 width: 100%;
 min-height: 120px;
 margin-top: -121px;

 background-color: rgba(255, 255, 255, 0.9);
}

.footer-container {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;

 -webkit-box-pack: justify;
 -ms-flex-pack: justify;
 justify-content: space-between;

 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;

 width: 100%;
 min-height: 120px;

 text-align: center;
}

.footer-container p {
 width: 33.4%;
 margin: 0;
 padding: 0;

 font-size: 21px;
 line-height: 26px;
 font-weight: 700;
}

.footer-social {
 width: 33.4%;
 margin: 0 auto;
 padding: 0;
}

.footer-social ul {
 list-style: none;

 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;

 -webkit-box-pack: justify;
 -ms-flex-pack: justify;
 justify-content: space-between;

 -ms-flex-wrap: wrap;
 flex-wrap: wrap;

 width: 150px;
 margin: 0 auto;
 padding: 0;
}


.social-button {
 position: relative;

 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;

 -webkit-box-pack: center;
 -ms-flex-pack: center;
 justify-content: center;

 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;

 width: 46px;
 height: 48px;

 background-color: #81b3d2;
}

/* фикс для бага с иконкой в IE11 */
.social-button::before {
 content: "";
 display: block;
 position: absolute;

 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
}
/* конец фикса для бага с иконкой в IE11 */


.social-button:hover,
.social-button:focus {
 background-color: #669ec0;
}

.social-button:active path {
 fill: rgba(255, 255, 255, 0.3);
 background-color: #5496bd;
}

.developer {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;

 -webkit-box-pack: center;
 -ms-flex-pack: center;
 justify-content: center;

 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;

 width: 33.4%;

 line-height: 26px;
}

.developer:hover path,
.developer:focus path {
 fill: #81b3d2
}

.developer:active path {
 fill: #bdbbbc
}

.developer span {
 margin-right: 8px;
 margin-bottom: 3px;
 margin-left: 3px;

 color:#000000;
}

/* Страница hotels (пока в другом файле)*/

/* секция с фильтрами */

.filters {
 min-height: 217px;
 width: inherit;
 padding-left: 6%;
 padding-right: 6%;
 padding-top: 26px;
 padding-bottom: 13px;
 -webkit-box-sizing: border-box;
         box-sizing: border-box;

 background-image: url("../img/background-intro-blur.jpg");
 background-repeat: no-repeat;
 background-position: center 15%;
 background-size: 100%;
}

.filters-form {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;

 -webkit-box-pack: justify;
 -ms-flex-pack: justify;
 justify-content: space-between;

 -ms-flex-line-pack: center;
 align-content: center;
}

.checkbox-wrapper {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 width: 70%;
}

.filters fieldset {
 min-height: 165px;
 margin: 0;
 padding: 0;
 border: none;
 color:#ffffff;
}

.checkbox-wrapper fieldset:first-child {
 margin-right: 120px;
}

.filters legend {
 font-size: 16px;
 font-weight: 700;
}

.filters ul {
 min-height: 114px;
 margin-top: 26px;
 padding-left: 0;
 padding-bottom: 0;
 list-style: none;
}

.filter-option {
 margin-top: 25px;
 margin-left: 40px;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;

 white-space: nowrap;

 -webkit-clip-path: inset(100%);

 clip-path: inset(100%);
 clip: rect(0 0 0 0);
 overflow: hidden;
}

.filter-option label {
 position: relative;

 display: block;

 cursor: pointer;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

.filter-input-checkbox + label::before {
 content: "";
 position: absolute;

 top:-2px;
 left:-40px;
 width: 23px;
 height: 23px;

 background-image: url("../img/checkbox-off.svg");
 background-repeat: no-repeat;
 background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
 content: "";
 position: absolute;

 top:-2px;
 left:-40px;
 width: 27px;
 height: 23px;
 background-image: url("../img/checkbox-on.svg");
 background-repeat: no-repeat;
 background-position: 0 0;
}

.filter-input-checkbox:disabled + label::before {
 opacity: 0.3;
}

/* блок со стоимостью */
.price-wrapper {
  min-width: 30%;
}

.price-wrapper legend {
 margin-bottom: 10px;
}

.price-wrapper table {
 position: relative;

 width: 100%;
 margin-bottom: 20px;

 border: 2px solid #ffffff;
 border-radius: 2px;

}

.option-price label {
 vertical-align: middle;
 cursor: pointer;
}

.option-price td:first-child::after {
 content: "";
 position: absolute;

 width: 2px;
 height: 22px;

 top: 50%;
 left: 50%;

 -webkit-transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);

 background: #ffffff;
}

.option-price td {
 height: 27px;
 width: 50%;

 text-align: center;
}

.option-price .price-min {
 width: 75px;
 margin-left: 21%;
}

.option-price .price-max {
 width: 75px;
 margin-left: 11%;
}

.option-price input {
 width: 40px;
 margin: 0;

 color: #ffffff;
 font: inherit;

 background: none;
 border: none;
 outline: 0;
}

.range-controls {
 position: relative;

 margin-bottom: 32px;
}

.range-controls .scale {
 height: 2px;

 background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
 width: 80%;
 height: 2px;

 background: #ffffff;
}

.range-toggle {
 position: absolute;
 top: -9px;
 width: 4px;
 height: 4px;

 background: #ababab;
 border: 8px solid #ffffff;
 border-radius: 50%;
 -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
 box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);

 cursor: pointer;
}

.range-toggle:hover {
 width: 6px;
 height: 6px;
 top: -10px;
}

.range-toggle-min {
 left: 0;
}

.range-toggle-max {
 left: 80%;
}

.range-toggle:hover {
 background: #1c4f80;
}

.button-filters {
 display: block;
 margin: 0 auto;
 padding: 6px 35px;

 font-size: 14px;
 line-height: 20px;
 color: #ffffff;
 text-transform: uppercase;

 background: transparent;
 border: 2px solid #ffffff;
 border-radius: 2px;

 cursor: pointer;
}

.button-filters:focus,
.button-filters:hover {
 color: #000000;

 background: #ffffff;
 outline: 0;
}

/* сортировка */

.sort {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;

 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;

 min-height: 86px;
 width: inherit;
 padding-left: 6%;
 padding-right: 6%;
 padding-top: 31px;
 padding-bottom: 30px;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;

 border-bottom: 1px solid #e5e5e5;
}

.sort-result {
 width: 165px;
}

.choice {
 width: 80%;
 margin: 0;
 padding-left: 0;
 display: block;

 list-style: none;
}

.choice li {
 display: inline-block;
}


.choice-item-none {
 margin-right: 36px;
}

.choice-item a {
 margin-right: 29px;

 color: rgba(0, 0, 0, 0.3);
 font-size: 12px;
 line-height: 18px;

 border-bottom: 1px solid #81b3d2;
 border-bottom-style: dotted;
}

.choice-item a:hover,
.choice-item a:focus {
 color:#81b3d2;
}

.choice-item a:active {
 color:#000000;
 border:none;
}

.choice-item .choice-item-price-active {
 color:#81b3d2;
 border:none;
}

.sort-result span {
 font-size: 21px;
 font-weight: 700;
 line-height: 26px;
}

.choice li:first-child {
 font-size: 12px;
 line-height: 18px;
}

/* верх, вниз по директории */

.control-dir {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;

 -webkit-box-pack: end;
 -ms-flex-pack: end;
 justify-content: flex-end;

 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;

 width: 50px;
}

.control-dir-down {
 width: 0;
 height: 0;

 border-left: 5.5px solid transparent;
 border-right: 5.5px solid transparent;
 border-top: 10px solid #cacaca;

 cursor: pointer;
}

.control-dir-down:hover,
.control-dir-down:focus {
 border-top: 10px solid #000000;
}

.control-dir-down:active {
 border-top: 10px solid #81b3d2;
}

.control-dir-down-active {
 width: 0;
 height: 0;

 border-left: 5.5px solid transparent;
 border-right: 5.5px solid transparent;
 border-top: 10px solid #81b3d2;

 cursor: pointer;
}

.control-dir-up {
 width: 0;
 height: 0;
 margin-right: 13px;

 border-left: 5.5px solid transparent;
 border-right: 5.5px solid transparent;
 border-bottom: 10px solid #cacaca;

 cursor: pointer;
}

.control-dir-up:hover,
.control-dir-up:focus {
 border-bottom: 10px solid #000000;
}

.control-dir-up:active {
 border-bottom: 10px solid #81b3d2;
}

/* стили для карточек с товарами */

.catalog-item h3 {
 width: 100%;
 margin-top: -4px;
 margin-bottom: 0;

 font-size: 21px;
 font-weight: 700;
 line-height: 26px;
}

.item-link {
 color: #000000;
}

.item-link:hover,
.item-link:focus {
 outline: 0;
 color: #81b3d2;
 cursor: pointer;
}

.item-link:active {
 color: rgba(0, 0, 0, 0.3);
}

.catalog-item-button {
 font-weight: 700;
}

.catalog-list {
 list-style: none;
}

.catalog ul {
 margin: 0;
 padding: 0;
}

.catalog-item {
 width: inherit;
 padding-left: 6%;
 padding-right: 6%;
 padding-top: 28px;
 padding-bottom: 32px;
 -webkit-box-sizing:border-box;
 box-sizing:border-box;

 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;

 -webkit-box-pack: justify;
 -ms-flex-pack: justify;
 justify-content: space-between;

 border-bottom: 1px solid #e5e5e5;
}

.item-information {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;

 -webkit-box-align: end;
 -ms-flex-align: end;
 align-items: flex-end;

 min-height: 90px;
 width: 85%;
}

.item-information img {
 margin-right: 30px;
}

.item-rating {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;

 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
 -ms-flex-direction: column;
 flex-direction: column;

 -webkit-box-align: end;
 -ms-flex-align: end;
 align-items: flex-end;

 -webkit-box-pack: justify;
 -ms-flex-pack: justify;
 justify-content: space-between;

 width: 15%;
}

.information {
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;

 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
 -ms-flex-direction: column;
 flex-direction: column;

 -webkit-box-align: start;
 -ms-flex-align: start;
  align-items: flex-start;

 -webkit-box-pack: justify;
 -ms-flex-pack: justify;
 justify-content: space-between;

 height: 90px;
}

.catalog-item-price {
 border-spacing:0
}

.catalog-item-price td {
 width: 116px;

 padding: 0;
 text-align: left;
}

/* стили для кнопок в карточках товаров */
.catalog-item-button {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;

 -webkit-box-pack: justify;
 -ms-flex-pack: justify;
 justify-content: space-between;

 height: 27px;
 width: 258px;
 margin-top: 7px;
 margin-bottom: 0;
}

.catalog-item-button button {
 height: 27px;
 width:110px;
 padding: 3px 17px;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;

 font-family: "PT Sans", Arial, sans-serif;
 font-size: 14px;
 line-height: 21px;
 font-weight: 700;
 text-align: center;
 color: #ffffff;
 text-transform: uppercase;

 border: none;
 background-color: #81b3d2;
 cursor: pointer;
 outline: 0;
}

.catalog-item-button button:hover,
.catalog-item-button button:focus {
 background-color: #669ec0;
}

.catalog-item-button button:active {
 color: rgba(255, 255, 255, 0.3);
 background-color: #5496bd;
}

.reservation {
 height: 27px;
 width:142px;
 padding-top: 4px;
 padding-left: 17px;
 padding-right: 19px;
 padding-bottom: 5px;

 cursor: pointer;
 text-align: center;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 color: #ffffff;
 background-color: #766357;
}

.reservation:hover,
.reservation:focus {
 background-color: #604e43;
}

.reservation:active {
 color: rgba(255, 255, 255, 0.3);
 background-color: #503e33;
}

/* стилизация блока рейтинга */

.raiting-star-hotel {
 width: 88px;
 height: 17px;

 background-image: url("../img/star.svg");
 background-repeat: space;
}

.raiting-star-motel {
 width: 64px;
 height: 17px;

 background-image: url("../img/star.svg");
 background-repeat: space;
}

.raiting-star-apartment {
 width: 41px;
 height: 17px;

 background-image: url("../img/star.svg");
 background-repeat: space;
}

.catalog-rating {
 width: 110px;
 height: 27px;
 padding: 4px 12px;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;

 text-align: center;
 background-color: #f2f2f2;
}
/* для футера с отелями */
.hotels-footer {
 margin-top: 0;
}
